<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SimpleSystem</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ss.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/SimpleSystem/com.ss/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCL</servlet-name>
    <servlet-class>com.ss.LoginCL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCL</servlet-name>
    <url-pattern>/SimpleSystem/com.ss/LoginCL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Wel</servlet-name>
    <servlet-class>com.ss.Wel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wel</servlet-name>
    <url-pattern>/SimpleSystem/com.ss/Wel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainPage</servlet-name>
    <servlet-class>com.ss.MainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/SimpleSystem/com.ss/MainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelUserCL</servlet-name>
    <servlet-class>com.ss.DelUserCL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserCL</servlet-name>
    <url-pattern>/SimpleSystem/com.ss/DelUserCL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ok</servlet-name>
    <servlet-class>com.ss.Ok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ok</servlet-name>
    <url-pattern>/SimpleSystem/com.ss/Ok</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Err</servlet-name>
    <servlet-class>com.ss.Err</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Err</servlet-name>
    <url-pattern>/SimpleSystem/com.ss/Err</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.ss.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/SimpleSystem/com.ss/Update</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UpdateCL</servlet-name>
    <servlet-class>com.ss.UpdateCL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCL</servlet-name>
    <url-pattern>/SimpleSystem/com.ss/UpdateCL</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>